body{
    background-image: url(landcruiser_ogp_02.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: aliceblue;
    
}